body
    background #CEE3F6

main
    background #E6E6E6

form
    padding 10px

#conteneur
    margin:auto



.movie-item

    height: 500px
    overflow: scroll
    display: inline-block
    float: left
    font-size: .8em
    border: 1px solid #fff
    margin:auto


